
    <div id="process-container" class="row">
        <div class="col-8 invoice-viewer">
            <!--<div class="container">-->
                <div class="row">
                    <div class="col-12 card mt-2 invoice-process-card">
                        <div id="invoice-header-container" class="card-header d-flex justify-content-between">
                            <p class="card-header-title"><strong><%= fileName %></strong></p>
                                <div class=''>
                                    <% if(invoiceType !== 'Processed_Invoices') { %>
                                        <button type="button" id="read_selected_data" class="btn btn-sm btn-primary mr-1">Read Selected Data</button> 
                                        <button type="button" id="go_button" data-imagesrc="<%= invoiceType %>/<%= fileName %>" data-imagename="<%= fileName %>" class="btn btn-sm btn-primary mr-1">Read</button>
                                        <button type="button"  id="complete_data" data-toggle="modal" data-invoicetype="<%= invoiceType %>" class="btn btn-sm btn-primary">Complete Data</button>
                                     <% } %>   
                                    <!-- Modal -->
                                    <div class="modal fade" id="initiateWorkflowModal" tabindex="-1" role="dialog" aria-labelledby="initiateWorkflowModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="initiateWorkflowModalLabel">SAP Data</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                        <ul class="nav nav-tabs" id="mySapTab" role="tablist">
                                                            <li class="nav-item">
                                                                <% if(invoiceItem.material_rows_count > 0) { %>
                                                                    <button type="button" class="nav-link" id="material-sap-tab" data-toggle="tab" href="#material-sap" role="tab" aria-controls="material-sap" aria-selected="true">Materials</button>
                                                                <% } else { %>
                                                                    <button type="button" disabled class="nav-link" id="material-sap-tab" data-toggle="tab" href="#material-sap" role="tab" aria-controls="material-sap" aria-selected="true">Materials</button>
                                                                <% } %>
                                                            </li>
                                                            <li class="nav-item">
                                                                <% if(invoiceItem.service_rows_count > 0) { %>
                                                                    <button class="nav-link ml-1" id="service-sap-tab" data-toggle="tab" href="#service-sap" role="tab" aria-controls="service-sap" aria-selected="false">Services</button>
                                                                <% } else { %>
                                                                    <button class="nav-link ml-1" disabled id="service-sap-tab" data-toggle="tab" href="#service-sap" role="tab" aria-controls="service-sap" aria-selected="false">Services</button>
                                                                <% } %>
                                                            </li>
                                                        </ul>

                                                        <div class="tab-content" id="mySapTabContent">
                                                            <div class="tab-pane fade show active" id="material-sap" role="tabpanel" aria-labelledby="material-sap-tab">
                                                                <form>
                                                                    <div class="form-group row">
                                                                        <label for="financeMaterial" class="col-sm-6 col-form-label">Finance / Material</label>
                                                                        <div class="col-sm-6">
                                                                            <input type="text" readonly class="form-control-plaintext" id="financeMaterial" value="">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label for="sapPoNumber" class="col-sm-6 col-form-label">SAP PO Number</label>
                                                                        <div class="col-sm-6">
                                                                            <input type="text" readonly class="form-control-plaintext" id="sapPoNumber" value="">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label for="vendorCode" class="col-sm-6 col-form-label">Vendor Code</label>
                                                                        <div class="col-sm-6">
                                                                            <input type="text" readonly class="form-control-plaintext" id="vendorCode" value="">
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="tab-pane fade" id="service-sap" role="tabpanel" aria-labelledby="service-sap-tab">
                                                                <form>
                                                                    <div class="form-group row">
                                                                        <label for="financeMaterialService" class="col-sm-6 col-form-label">Finance / Material</label>
                                                                        <div class="col-sm-6">
                                                                            <input type="text" readonly class="form-control-plaintext" id="financeMaterialService" value="">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label for="sapPoNumberService" class="col-sm-6 col-form-label">SAP PO Number</label>
                                                                        <div class="col-sm-6">
                                                                            <input type="text" readonly class="form-control-plaintext" id="sapPoNumberService" value="">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label for="vendorCodeService" class="col-sm-6 col-form-label">Vendor Code</label>
                                                                        <div class="col-sm-6">
                                                                            <input type="text" readonly class="form-control-plaintext" id="vendorCodeService" value="">
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="button" id="initiate_workflow" class="btn btn-primary">Initiate Workflow</button>
                                                    <script>
                                                        document.getElementById("initiate_workflow")
                                                        .addEventListener("click", function(e) {
                                                            var imagename = $("#imageToProcess").data().imagename;
                                                            var invoiceType = $("#imageToProcess").data().invoicetype;
                                                            var invoiceItem = {
                                                                id:"",
                                                                file: "",
                                                                buyer: $("#buyer").val(),
                                                                supplier: $("#supplier").val(),
                                                                debit_credit: $("#debitCredit").val(),
                                                                invoice_number: $("#invoiceNumber").val(),
                                                                invoice_date: $("#invoiceDate").val(),
                                                                net_value: $("#netValue").val(),
                                                                gst_value: $("#gstValue").val(),
                                                                gross_value: $("#grossValue").val(),
                                                                currency: $("#currency").val(),
                                                                delivery_note: $("#deliveryNote").val(),
                                                                finance_material: "",
                                                                sap_po_number: "",
                                                                vendor_code: "",
                                                                discount: "",


                                                                buyer_service: $("#buyerService").val(),
                                                                supplier_service: $("#supplierService").val(),
                                                                debit_credit_service: $("#debitCreditService").val(),
                                                                invoice_number_service: $("#invoiceNumberService").val(),
                                                                invoice_date_service: $("#invoiceDateService").val(),
                                                                net_value_service: $("#netValueService").val(),
                                                                gst_value_service: $("#gstValueService").val(),
                                                                gross_value_service: $("#grossValueService").val(),
                                                                currency_service: $("#currencyService").val(),
                                                                po_order_number_service: $("#poOrderNumberService").val(),
                                                                delivery_note_service: $("#deliveryNoteService").val(),
                                                                finance_material_service: "",
                                                                sap_po_number_service: "",
                                                                vendor_code_service: "",
                                                                discount_service: "",


                                                                is_error: false,
                                                                material_headers: "",
                                                                material_rows: "",
                                                                material_rows_count: "",
                                                                service_headers: "",
                                                                service_rows: "",
                                                                service_rows_count: ""
                                                            }
                                                            $.getJSON( "/invoices.json", function( invoices ) {
                                                                for(var i = 0; i < invoices.length; i++) { 
                                                                    if(invoices[i].file === imagename) {
                                                                        invoiceItem.id = invoices[i].id;
                                                                        invoiceItem.unique_number = invoices[i].unique_number;
                                                                        invoiceItem.file = invoices[i].file;
                                                                        invoiceItem.finance_material = invoices[i].finance_material;
                                                                        invoiceItem.po_order_number = invoices[i].sap_po_number,
                                                                        invoiceItem.sap_po_number = invoices[i].sap_po_number;
                                                                        invoiceItem.vendor_code = invoices[i].vendor_code;
                                                                        invoiceItem.discount = invoices[i].discount;


                                                                        invoiceItem.finance_material_service = invoices[i].finance_material_service;
                                                                        invoiceItem.sap_po_number_service = invoices[i].sap_po_number_service;
                                                                        invoiceItem.vendor_code_service = invoices[i].vendor_code_service;
                                                                        invoiceItem.discount_service = invoices[i].discount_service;


                                                                        invoiceItem.material_headers = $("#materialHeaders").html();
                                                                        invoiceItem.material_rows = $("#materialRows").html();
                                                                        invoiceItem.material_rows_count = $("#materialRows tr").length;
                                                                        invoiceItem.service_headers = $("#serviceHeaders").html();
                                                                        invoiceItem.service_rows = $("#serviceRows").html();
                                                                        invoiceItem.service_rows_count = $("#serviceRows tr").length;
                                                                        $.post("api/process-data",
                                                                        {
                                                                            image_name: imagename,
                                                                            isError: false,
                                                                            invoiceType: invoiceType,
                                                                            invoice: JSON.stringify(invoiceItem)
                                                                        },
                                                                        function(data, status){
                                                                            $("#initiateWorkflowModal").modal('hide');
                                                                            bootbox.alert({
                                                                                message: "Invoice posted successfully",
                                                                                callback: function () {
                                                                                    window.location = '/dashboard';
                                                                                }
                                                                            });
                                                                        });
                                                                    }
                                                                }
                                                            });
                                                        });
                                                    </script>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div id="invoice-img-container" class="card-block photo-container">
                            <% var ext = (/[.]/.exec(fileName)) ? /[^.]+$/.exec(fileName) : undefined;%>
                            <% if(ext && ext[0].toUpperCase() == "PDF") { %>
                                <div id="imageToProcess" data-imagename="<%= fileName %>" data-invoicetype="<%= invoiceType %>" alt="invoice"></div>
                                <script src="js/pdfobject.min.js"></script>
                                <script>PDFObject.embed("<%= invoiceType %>/<%= fileName %>", "#imageToProcess");</script>
                                <style>
                                    #imageToProcess {
                                        height: 100%;
                                    }

                                    #invoice-img-container {
                                        overflow-y: hidden !important;
                                    }
                                </style>
                            <% } else { %>
                                <img id="imageToProcess" src="<%= invoiceType %>/<%= fileName %>"  data-imagename="<%= fileName %>"
                                    data-invoicetype="<%= invoiceType %>" alt="invoice">
                                <script src="http://jcrop-cdn.tapmodo.com/v2.0.0-RC1/js/Jcrop.js"></script>
                                <link rel="stylesheet" href="http://jcrop-cdn.tapmodo.com/v2.0.0-RC1/css/Jcrop.css" type="text/css">
                                
                                <style>
                                    /*.jcrop-active {
                                        width: 100% !important;
                                        height: 100% !important;
                                    }*/
                                    .jcrop-shades div {
                                        background-color: transparent !important;
                                    }
                                    .jcrop-box {
                                        border: 2px solid #f23819 !important;
                                    }
                                    .selection-type {
                                        background: #696969;
                                        color: #FFF;
                                        font-size: 0.8rem;
                                    }
                                   
                                </style>
                                <!-- Activate maphilight plugin -->
                                <script type="text/javascript">
                                    var jcrop_api;
                                    jQuery(function($){
                                        $('#imageToProcess').Jcrop({
                                            multi: true,
                                            canDelete: true
                                        },function(){
                                            jcrop_api = this;
                                            jcrop_api.container.on('cropstart',function(e,s){
                                                var choices = ["Invoice No.", "Vendor Name"];
                                                if($('.jcrop-current select.selection-type').length === 0) {
                                                    var selectHTML = "";
                                                    selectHTML="<select class='selection-type'>";
                                                    for(i = 0; i < choices.length; i = i + 1) {
                                                        selectHTML += "<option value='" + choices[i] + "'>" + choices[i] + "</option>";
                                                    }
                                                    selectHTML += "</select>";
                                                    $('.jcrop-current').append(selectHTML);
                                                    $('select.selection-type').click(function(e) {
                                                        e.stopPropagation();
                                                    });

                                                    $('select.selection-type').mousedown(function(e) {
                                                        e.stopPropagation();
                                                    });

                                                    $('select.selection-type').mouseup(function(e) {
                                                        e.stopPropagation();
                                                    });
                                                }
                                            });

                                            

                                            $('#read_selected_data').click(function() {
                                                // get source image
                                                var orgImg = $('#imageToProcess').get(0);
                                            
                                                // draw image to canvas and get image data
                                                var canvas = document.createElement("canvas");
                                                canvas.width = orgImg.width;
                                                canvas.height = orgImg.height;
                                                var ctx = canvas.getContext("2d");
                                                ctx.drawImage(orgImg, 0, 0);
                                                
                                                for(var i = 0; i < jcrop_api.ui.multi.length; i++) {
                                                    var x = jcrop_api.ui.multi[i].element[0].offsetLeft;
                                                    var y = jcrop_api.ui.multi[i].element[0].offsetTop;
                                                    var w = jcrop_api.ui.multi[i].element[0].offsetWidth;
                                                    var h = jcrop_api.ui.multi[i].element[0].offsetHeight;
                                                    var imageData = ctx.getImageData(x, y, w, h);

                                                    var canvas1 = document.createElement("canvas");
                                                    canvas1.width = w;
                                                    canvas1.height = h;
                                                    var ctx1 = canvas1.getContext("2d");
                                                    ctx1.rect(0, 0, w, h);
                                                    ctx1.fillStyle = 'white';
                                                    ctx1.fill();
                                                    ctx1.putImageData(imageData, 0, 0);
                                                
                                                    var dstImg = document.createElement('img');
                                                    dstImg.src = canvas1.toDataURL("image/png");
                                                    dstImg.style.position = "absolute";
                                                    dstImg.style.zIndex = "9999";
                                                    $('body').append(dstImg);

                                                    $.post("https://api.ocr.space/parse/image",
                                                    {
                                                        apikey: "aa7aa7676d88957",
                                                        language: "eng",
                                                        isOverlayRequired: "true",
                                                        base64Image: canvas1.toDataURL("image/png")
                                                    },
                                                    function(data, status){
                                                        console.log(data.ParsedResults[0].ParsedText);
                                                    });

                                                   




                                                    //console.log("top:" + jcrop_api.ui.multi[i].element[0].offsetTop + ", left:" + jcrop_api.ui.multi[i].element[0].offsetLeft + ", width:" + jcrop_api.ui.multi[i].element[0].offsetWidth + ", height:" + jcrop_api.ui.multi[i].element[0].offsetHeight);
                                                }
                                            });
                                        });
                                    });
                                </script>
                            <% } %>
                        </div>
                    </div>
                </div>
        </div>
        <form id="process-invoice-form" class="col-4 mt-2">
            <div class="d-flex justify-content-end">
                <% if (invoiceType === 'Error_Invoices') { %>
                    <button type="button" id="edit_button" class="btn btn-sm btn-primary">Edit</button>
                    <button type="button" id="save_button" class="btn btn-sm btn-primary">Save changes</button>
                <% } %>
            </div>
            <div class="form-group row material-form-row">
                <label for="supplier" class="col-sm-12 col-form-label">Supplier</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control <%= (invoiceItem.id === '') ? '' : (invoiceItem.supplier !== '' && invoiceItem.id !== '') ? 'is-valid' : 'is-invalid' %>" id="supplier" disabled value="<%= invoiceItem.supplier %>">
                </div>
            </div>
            <div class="form-group row service-form-row">
                <label for="supplierService" class="col-sm-12 col-form-label">Supplier</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control <%= (invoiceItem.id === '') ? '' : (invoiceItem.supplier_service !== '' && invoiceItem.id !== '') ? 'is-valid' : 'is-invalid' %>" id="supplierService" disabled value="<%= invoiceItem.supplier_service %>">
                </div>
            </div>
            <div class="form-group row material-form-row">
                <label for="buyer" class="col-sm-12 col-form-label">Buyer</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control <%= (invoiceItem.id === '') ? '' : (invoiceItem.buyer !== '' && invoiceItem.id !== '') ? 'is-valid' : 'is-invalid' %>" id="buyer" disabled value="<%= invoiceItem.buyer %>">
                </div>
            </div>
            <div class="form-group row service-form-row">
                <label for="buyerService" class="col-sm-12 col-form-label">Buyer</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control <%= (invoiceItem.id === '') ? '' : (invoiceItem.buyer_service !== '' && invoiceItem.id !== '') ? 'is-valid' : 'is-invalid' %>" id="buyerService" disabled value="<%= invoiceItem.buyer_service %>">
                </div>
            </div>
            <div class="form-group row material-form-row">
                <label for="debitCredit" class="col-sm-6 col-form-label">Debit/Credit</label>
                <div class="col-sm-6">
                    <select class="form-control <%= (invoiceItem.id === '') ? '' : (invoiceItem.debit_credit !== '' && invoiceItem.id !== '') ? 'is-valid' : 'is-invalid' %>" id="debitCredit" disabled>
                        <option value="Debit">Debit</option>
                        <option value="Credit">Credit</option>
                    </select>
                </div>
            </div>
            <div class="form-group row service-form-row">
                <label for="debitCreditService" class="col-sm-6 col-form-label">Debit/Credit</label>
                <div class="col-sm-6">
                    <select class="form-control <%= (invoiceItem.id === '') ? '' : (invoiceItem.debit_credit_service !== '' && invoiceItem.id !== '') ? 'is-valid' : 'is-invalid' %>" id="debitCreditService" disabled>
                        <option value="Debit">Debit</option>
                        <option value="Credit">Credit</option>
                    </select>
                </div>
            </div>
            <div class="form-group row material-form-row">
                <label for="invoiceNumber" class="col-sm-6 col-form-label">Invoice Number</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control <%= (invoiceItem.id === '') ? '' : (invoiceItem.invoice_number !== '' && invoiceItem.id !== '') ? 'is-valid' : 'is-invalid' %>" id="invoiceNumber" disabled value="<%= invoiceItem.invoice_number %>">
                </div>
            </div>
            <div class="form-group row service-form-row">
                <label for="invoiceNumberService" class="col-sm-6 col-form-label">Invoice Number</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control <%= (invoiceItem.id === '') ? '' : (invoiceItem.invoice_number_service !== '' && invoiceItem.id !== '') ? 'is-valid' : 'is-invalid' %>" id="invoiceNumberService" disabled value="<%= invoiceItem.invoice_number_service %>">
                </div>
            </div>
            <div class="form-group row material-form-row">
                <label for="invoiceDate" class="col-sm-6 col-form-label">Invoice Date</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control <%= (invoiceItem.id === '') ? '' : (invoiceItem.invoice_date !== '' && invoiceItem.id !== '') ? 'is-valid' : 'is-invalid' %>" id="invoiceDate" disabled value="<%= invoiceItem.invoice_date %>">
                </div>
            </div>
            <div class="form-group row service-form-row">
                <label for="invoiceDateService" class="col-sm-6 col-form-label">Invoice Date</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control <%= (invoiceItem.id === '') ? '' : (invoiceItem.invoice_date_service !== '' && invoiceItem.id !== '') ? 'is-valid' : 'is-invalid' %>" id="invoiceDateService" disabled value="<%= invoiceItem.invoice_date_service %>">
                </div>
            </div>
            <div class="form-group row material-form-row">
                <label for="netValue" class="col-sm-6 col-form-label">Net Value</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control <%= (invoiceItem.id === '') ? '' : (invoiceItem.net_value !== '' && invoiceItem.id !== '') ? 'is-valid' : 'is-invalid' %>" id="netValue" disabled value="<%= invoiceItem.net_value %>">
                </div>
            </div>
            <div class="form-group row service-form-row">
                <label for="netValueService" class="col-sm-6 col-form-label">Net Value</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control <%= (invoiceItem.id === '') ? '' : (invoiceItem.net_value_service !== '' && invoiceItem.id !== '') ? 'is-valid' : 'is-invalid' %>" id="netValueService" disabled value="<%= invoiceItem.net_value_service %>">
                </div>
            </div>
            <div class="form-group row material-form-row">
                <label for="gstValue" class="col-sm-6 col-form-label">GST Value</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control <%= (invoiceItem.id === '') ? '' : (invoiceItem.gst_value !== '' && invoiceItem.id !== '') ? 'is-valid' : 'is-invalid' %>" id="gstValue" disabled value="<%= invoiceItem.gst_value %>">
                </div>
            </div>
            <div class="form-group row service-form-row">
                <label for="gstValueService" class="col-sm-6 col-form-label">GST Value</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control <%= (invoiceItem.id === '') ? '' : (invoiceItem.gst_value_service !== '' && invoiceItem.id !== '') ? 'is-valid' : 'is-invalid' %>" id="gstValueService" disabled value="<%= invoiceItem.gst_value_service %>">
                </div>
            </div>
            <div class="form-group row material-form-row">
                <label for="grossValue" class="col-sm-6 col-form-label">Gross Value</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control <%= (invoiceItem.id === '') ? '' : (invoiceItem.gross_value !== '' && invoiceItem.id !== '') ? 'is-valid' : 'is-invalid' %>" id="grossValue" disabled value="<%= invoiceItem.gross_value %>">
                </div>
            </div>
            <div class="form-group row service-form-row">
                <label for="grossValueService" class="col-sm-6 col-form-label">Gross Value</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control <%= (invoiceItem.id === '') ? '' : (invoiceItem.gross_value_service !== '' && invoiceItem.id !== '') ? 'is-valid' : 'is-invalid' %>" id="grossValueService" disabled value="<%= invoiceItem.gross_value_service %>">
                </div>
            </div>
            <div class="form-group row material-form-row">
                <label for="currency" class="col-sm-6 col-form-label">Currency</label>
                <div class="col-sm-6">
                    <select class="form-control <%= (invoiceItem.id === '') ? '' : (invoiceItem.currency !== '' && invoiceItem.id !== '') ? 'is-valid' : 'is-invalid' %>" id="currency" disabled>
                        <% if(invoiceItem.currency == 'INR') { %> 
                            <option selected="selected" value="INR">INR</option>
                            <option value="EUR">EUR</option>   
                        <% } else if(invoiceItem.currency == 'EUR') { %>
                            <option value="INR">INR</option>
                            <option selected="selected" value="EUR">EUR</option>
                        <% }  %>
                    </select>
                </div>
            </div>
            <div class="form-group row service-form-row">
                <label for="currencyService" class="col-sm-6 col-form-label">Currency</label>
                <div class="col-sm-6">
                    <select class="form-control <%= (invoiceItem.id === '') ? '' : (invoiceItem.currency_service !== '' && invoiceItem.id !== '') ? 'is-valid' : 'is-invalid' %>" id="currencyService" disabled>
                        <% if(invoiceItem.currency_service == 'INR') { %> 
                            <option selected="selected" value="INR">INR</option>
                            <option value="EUR">EUR</option>   
                        <% } else if(invoiceItem.currency_service == 'EUR') { %>
                            <option value="INR">INR</option>
                            <option selected="selected" value="EUR">EUR</option>
                        <% }  %>
                    </select>
                </div>
            </div>
            <div class="form-group row material-form-row">
                <label for="poOrderNumber" class="col-sm-6 col-form-label">PO Order Number</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="poOrderNumber" disabled value="<%= invoiceItem.po_order_number %>">
                </div>
            </div>
            <div class="form-group row service-form-row">
                <label for="poOrderNumberService" class="col-sm-6 col-form-label">PO Order Number</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="poOrderNumberService" disabled value="<%= invoiceItem.po_order_number_service %>">
                </div>
            </div>
            <div class="form-group row material-form-row">
                <label for="deliveryNote" class="col-sm-6 col-form-label">Delivery Note</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="deliveryNote" disabled value="<%= invoiceItem.delivery_note %>">
                </div>
            </div>
            <div class="form-group row service-form-row">
                <label for="deliveryNoteService" class="col-sm-6 col-form-label">Delivery Note</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="deliveryNoteService" disabled value="<%= invoiceItem.delivery_note_service %>">
                </div>
            </div>
        </form>
    </div>
    
    <div class="panel-group col-md-12 col-sm-12 col-xs-12" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading clearfix d-flex">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <% if(invoiceItem.material_rows_count > 0) { %>
                            <button type="button"  data-rowcount="<%= (invoiceItem && invoiceItem.material_rows_count > 0) ? invoiceItem.material_rows_count : 0 %>" class="nav-link" id="material-tab" data-toggle="tab" href="#material" role="tab" aria-controls="material" aria-selected="true">Materials(<%= invoiceItem.material_rows_count %>)</button>
                        <% } else { %>
                            <button type="button"  data-rowcount="<%= (invoiceItem && invoiceItem.material_rows_count > 0) ? invoiceItem.material_rows_count : 0 %>" disabled class="nav-link" id="material-tab" data-toggle="tab" href="#material" role="tab" aria-controls="material" aria-selected="true">Materials(<%= invoiceItem.material_rows_count %>)</button>
                        <% } %>
                    </li>
                    <li class="nav-item">
                        <% if(invoiceItem.service_rows_count > 0) { %>
                            <button class="nav-link ml-1" id="service-tab"  data-rowcount="<%= (invoiceItem && invoiceItem.service_rows_count > 0) ? invoiceItem.service_rows_count : 0 %>" data-toggle="tab" href="#service" role="tab" aria-controls="service" aria-selected="false">Services(<%= invoiceItem.service_rows_count %>)</button>
                        <% } else { %>
                            <button class="nav-link ml-1"  data-rowcount="<%= (invoiceItem && invoiceItem.service_rows_count > 0) ? invoiceItem.service_rows_count : 0 %>" disabled id="service-tab" data-toggle="tab" href="#service" role="tab" aria-controls="service" aria-selected="false">Services(<%= invoiceItem.service_rows_count %>)</button>
                        <% } %>
                    </li>
                </ul>
                <div class="ml-auto">
                    <% if (invoiceType === 'Error_Invoices') { %>
                        <!--<button type="button" id="add_line_item_button" class="btn btn-sm btn-primary">Add Line Item</button>-->
                    <% } %>
                    <% if(invoiceItem.material_rows_count > 0 || invoiceItem.service_rows_count > 0) { %>
                        <button id="lineItemsToggle" type="button" data-toggle="collapse" data-parent="#accordion" href="#line-items-container" class="btn btn-sm btn-primary pull-right">Line Item</button>
                    <% } else { %>
                        <button id="lineItemsToggle" disabled type="button" data-toggle="collapse" data-parent="#accordion" href="#line-items-container" class="btn btn-sm btn-primary pull-right">Line Item</button>
                    <% } %>
                </div>
            </div>
            
            <div id="line-items-container" class="panel-collapse collapse">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="material" role="tabpanel" aria-labelledby="material-tab">
                        <table id="material-tbl" class="table table-bordered">
                            <thead>
                                <tr id="materialHeaders">
                                    <%- invoiceItem.material_headers %>
                                </tr>
                            </thead>
                            <tbody id="materialRows">
                                <%- invoiceItem.material_rows %>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="service" role="tabpanel" aria-labelledby="service-tab">
                        <table id="service-tbl" class="table table-bordered">
                            <thead>
                                <tr id="serviceHeaders">
                                    <%- invoiceItem.service_headers %>
                                </tr>
                            </thead>
                            <tbody id="serviceRows">
                                <%- invoiceItem.service_rows %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        p.card-header-title {
            line-height: 2rem;
            margin: 0;
        }
        .card.invoice-process-card {
            padding: 0;
        }
        #formatted_invoice {
            display: none;
        }

        #invoice-header-container {
            padding: 0.5rem 1rem;
        }
        
        #invoice-img-container {
            height: 30rem;
            overflow-y: auto;
        }

        #process-invoice-form {
            height: 33rem;
            overflow-y: auto;
        }

        #process-invoice-form .col-form-label {
            font-size: 1rem;
            font-weight: bold;
        }
        #process-invoice-form .form-control {
            font-size: 1rem;
            font-weight: bold;
        }

        #process-invoice-form .is-valid.form-control, #process-invoice-form .is-valid.form-control:disabled, #process-invoice-form .is-valid.form-control[readonly] {
            background-color: #b9f6ca;
        }

        #process-invoice-form .is-invalid.form-control, #process-invoice-form .is-invalid.form-control:disabled, #process-invoice-form .is-invalid.form-control[readonly] {
            background-color: #ffcdd2;
        }

        .form-group {
            margin-bottom: 0.5rem !important;
        }

        .modal .form-control-plaintext {
            font-size: 1rem;
            font-weight: bold;
            color: #007E33;
        }

        #save_button {
            display: none;
        }

        #accordion, #sap-modal-panel {
            position: fixed;
            bottom: 30px;
            border-radius:none !important;
            z-index:1030;
            background-color: #FFF;
            margin-left: -32px;
            padding: 0;
            bottom: 0;
        }

        .panel-heading {
            background-color: rgba(0,0,0,.03);
            border-bottom: 1px solid rgba(0,0,0,.125);
            padding: 0.5rem;
            padding-bottom: 0;
        }
        .panel-heading ul.nav-tabs {
            border-bottom: 0;
        }

        #process-container .invoice-viewer .row, #process-container .invoice-viewer .row .invoice-process-card {
            height: 100%;
        }
    </style>

<section id="formatted_invoice" class="text-center container">
    <div class="col-12 card mt-2">
        <img src="<%= invoiceType %>/<%= fileName %>" alt="invoice">
    </div>
</section>

