
    <div id="process-container" class="row">
        <div class="col-8 invoice-viewer">
            <!--<div class="container">-->
                <div class="row">
                    <div class="col-12 card mt-2 invoice-process-card">
                        <div id="invoice-header-container" class="card-header d-flex justify-content-between">
                            <p class="card-header-title"><strong><%= fileName %></strong></p>
                                <div class=''>
                                    <% if(invoiceType !== 'Processed_Invoices') { %>
                                        <button type="button" id="go_button" data-imagesrc="<%= invoiceType %>/<%= fileName %>" data-imagename="<%= fileName %>" class="btn btn-sm btn-primary mr-1">Read</button> 
                                        <button type="button"  id="complete_data" data-toggle="modal" data-invoicetype="<%= invoiceType %>" class="btn btn-sm btn-primary">Complete Data</button>
                                     <% } %>   
                                    <!-- Modal -->
                                    <div class="modal fade" id="initiateWorkflowModal" tabindex="-1" role="dialog" aria-labelledby="initiateWorkflowModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="initiateWorkflowModalLabel">SAP Data</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                        <ul class="nav nav-tabs" id="mySapTab" role="tablist">
                                                            <li class="nav-item">
                                                                <% if(invoiceItem.material_rows_count > 0) { %>
                                                                    <button type="button" class="nav-link" id="material-sap-tab" data-toggle="tab" href="#material-sap" role="tab" aria-controls="material-sap" aria-selected="true">Materials</button>
                                                                <% } else { %>
                                                                    <button type="button" disabled class="nav-link" id="material-sap-tab" data-toggle="tab" href="#material-sap" role="tab" aria-controls="material-sap" aria-selected="true">Materials</button>
                                                                <% } %>
                                                            </li>
                                                            <li class="nav-item">
                                                                <% if(invoiceItem.service_rows_count > 0) { %>
                                                                    <button class="nav-link ml-1" id="service-sap-tab" data-toggle="tab" href="#service-sap" role="tab" aria-controls="service-sap" aria-selected="false">Services</button>
                                                                <% } else { %>
                                                                    <button class="nav-link ml-1" disabled id="service-sap-tab" data-toggle="tab" href="#service-sap" role="tab" aria-controls="service-sap" aria-selected="false">Services</button>
                                                                <% } %>
                                                            </li>
                                                        </ul>

                                                        <div class="tab-content" id="mySapTabContent">
                                                            <div class="tab-pane fade show active" id="material-sap" role="tabpanel" aria-labelledby="material-sap-tab">
                                                                <form>
                                                                    <div class="form-group row">
                                                                        <label for="financeMaterial" class="col-sm-6 col-form-label">Finance / Material</label>
                                                                        <div class="col-sm-6">
                                                                            <input type="text" readonly class="form-control-plaintext" id="financeMaterial" value="">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label for="sapPoNumber" class="col-sm-6 col-form-label">SAP PO Number</label>
                                                                        <div class="col-sm-6">
                                                                            <input type="text" readonly class="form-control-plaintext" id="sapPoNumber" value="">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label for="vendorCode" class="col-sm-6 col-form-label">Vendor Code</label>
                                                                        <div class="col-sm-6">
                                                                            <input type="text" readonly class="form-control-plaintext" id="vendorCode" value="">
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="tab-pane fade" id="service-sap" role="tabpanel" aria-labelledby="service-sap-tab">
                                                                <form>
                                                                    <div class="form-group row">
                                                                        <label for="financeMaterialService" class="col-sm-6 col-form-label">Finance / Material</label>
                                                                        <div class="col-sm-6">
                                                                            <input type="text" readonly class="form-control-plaintext" id="financeMaterialService" value="">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label for="sapPoNumberService" class="col-sm-6 col-form-label">SAP PO Number</label>
                                                                        <div class="col-sm-6">
                                                                            <input type="text" readonly class="form-control-plaintext" id="sapPoNumberService" value="">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label for="vendorCodeService" class="col-sm-6 col-form-label">Vendor Code</label>
                                                                        <div class="col-sm-6">
                                                                            <input type="text" readonly class="form-control-plaintext" id="vendorCodeService" value="">
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="button" id="initiate_workflow" class="btn btn-primary">Initiate Workflow</button>
                                                    <script>
                                                        document.getElementById("initiate_workflow")
                                                        .addEventListener("click", function(e) {
                                                            var imagename = $("#imageToProcess").data().imagename;
                                                            var invoiceType = $("#imageToProcess").data().invoicetype;
                                                            var invoiceItem = {
                                                                id:"",
                                                                file: "",
                                                                buyer: $("#buyer").val(),
                                                                supplier: $("#supplier").val(),
                                                                debit_credit: $("#debitCredit").val(),
                                                                invoice_number: $("#invoiceNumber").val(),
                                                                invoice_date: $("#invoiceDate").val(),
                                                                net_value: $("#netValue").val(),
                                                                gst_value: $("#gstValue").val(),
                                                                gross_value: $("#grossValue").val(),
                                                                currency: $("#currency").val(),
                                                                delivery_note: $("#deliveryNote").val(),
                                                                finance_material: "",
                                                                sap_po_number: "",
                                                                vendor_code: "",
                                                                discount: "",


                                                                buyer_service: $("#buyerService").val(),
                                                                supplier_service: $("#supplierService").val(),
                                                                debit_credit_service: $("#debitCreditService").val(),
                                                                invoice_number_service: $("#invoiceNumberService").val(),
                                                                invoice_date_service: $("#invoiceDateService").val(),
                                                                net_value_service: $("#netValueService").val(),
                                                                gst_value_service: $("#gstValueService").val(),
                                                                gross_value_service: $("#grossValueService").val(),
                                                                currency_service: $("#currencyService").val(),
                                                                po_order_number_service: $("#poOrderNumberService").val(),
                                                                delivery_note_service: $("#deliveryNoteService").val(),
                                                                finance_material_service: "",
                                                                sap_po_number_service: "",
                                                                vendor_code_service: "",
                                                                discount_service: "",


                                                                is_error: false,
                                                                material_headers: "",
                                                                material_rows: "",
                                                                material_rows_count: "",
                                                                service_headers: "",
                                                                service_rows: "",
                                                                service_rows_count: ""
                                                            }
                                                            $.getJSON( "/invoices.json", function( invoices ) {
                                                                for(var i = 0; i < invoices.length; i++) { 
                                                                    if(invoices[i].file === imagename) {
                                                                        invoiceItem.id = invoices[i].id;
                                                                        invoiceItem.unique_number = invoices[i].unique_number;
                                                                        invoiceItem.file = invoices[i].file;
                                                                        invoiceItem.finance_material = invoices[i].finance_material;
                                                                        invoiceItem.po_order_number = invoices[i].sap_po_number,
                                                                        invoiceItem.sap_po_number = invoices[i].sap_po_number;
                                                                        invoiceItem.vendor_code = invoices[i].vendor_code;
                                                                        invoiceItem.discount = invoices[i].discount;


                                                                        invoiceItem.finance_material_service = invoices[i].finance_material_service;
                                                                        invoiceItem.sap_po_number_service = invoices[i].sap_po_number_service;
                                                                        invoiceItem.vendor_code_service = invoices[i].vendor_code_service;
                                                                        invoiceItem.discount_service = invoices[i].discount_service;


                                                                        invoiceItem.material_headers = $("#materialHeaders").html();
                                                                        invoiceItem.material_rows = $("#materialRows").html();
                                                                        invoiceItem.material_rows_count = $("#materialRows tr").length;
                                                                        invoiceItem.service_headers = $("#serviceHeaders").html();
                                                                        invoiceItem.service_rows = $("#serviceRows").html();
                                                                        invoiceItem.service_rows_count = $("#serviceRows tr").length;
                                                                        $.post("api/process-data",
                                                                        {
                                                                            image_name: imagename,
                                                                            isError: false,
                                                                            invoiceType: invoiceType,
                                                                            invoice: JSON.stringify(invoiceItem)
                                                                        },
                                                                        function(data, status){
                                                                            $("#initiateWorkflowModal").modal('hide');
                                                                            bootbox.alert({
                                                                                message: "Invoice posted successfully",
                                                                                callback: function () {
                                                                                    window.location = '/dashboard';
                                                                                }
                                                                            });
                                                                        });
                                                                    }
                                                                }
                                                            });
                                                        });
                                                    </script>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div id="invoice-img-container" class="card-block">
                            <% var ext = (/[.]/.exec(fileName)) ? /[^.]+$/.exec(fileName) : undefined;%>
                            <% if(ext && ext[0].toUpperCase() == "PDF") { %>
                                <div id="imageToProcess" data-imagename="<%= fileName %>" data-invoicetype="<%= invoiceType %>" alt="invoice"></div>
                                <script src="js/pdfobject.min.js"></script>
                                <script>PDFObject.embed("<%= invoiceType %>/<%= fileName %>", "#imageToProcess");</script>
                                <style>
                                    #imageToProcess {
                                        height: 100%;
                                    }

                                    #invoice-img-container {
                                        overflow-y: hidden !important;
                                    }
                                </style>
                            <% } else { %>
                                <img id="imageToProcess" src="<%= invoiceType %>/<%= fileName %>"  data-imagename="<%= fileName %>" data-invoicetype="<%= invoiceType %>" alt="invoice">
                                <style>
                                    /*#process-container .invoice-viewer .row, #process-container .invoice-viewer .row .invoice-process-card {
                                        height: calc(100% - 24em) !important;
                                    }*/
                                </style>
                            <% } %>
                        
                        </div>
                    </div>
                </div>
                <!--<div class="d-flex justify-content-end mt-2">
                    
                </div>-->
            <!--</div>-->
        </div>
        <!--<form class="col-3 mt-5">
            <div id="ocr_status"> </div>
            <div class="form-group">
                <textarea rows="15" class="form-control" id="ocr_results"> </textarea>
            </div>
            <button type="button"  data-iserror="" data-invoicetype="<%= invoiceType %>" id="format_button" class="btn btn-primary float-right">Format</button>
        </form>-->

        <form id="process-invoice-form" class="col-4 mt-2">
            <div class="d-flex justify-content-end">
                <% if (invoiceType === 'Error_Invoices') { %>
                    <button type="button" id="edit_button" class="btn btn-sm btn-primary">Edit</button>
                    <button type="button" id="save_button" class="btn btn-sm btn-primary">Save changes</button>
                <% } %>
            </div>
            <div class="form-group row material-form-row">
                <label for="supplier" class="col-sm-12 col-form-label">Supplier</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control <%= (invoiceItem.id === '') ? '' : (invoiceItem.supplier !== '' && invoiceItem.id !== '') ? 'is-valid' : 'is-invalid' %>" id="supplier" disabled value="<%= invoiceItem.supplier %>">
                </div>
            </div>
            <div class="form-group row service-form-row">
                <label for="supplierService" class="col-sm-12 col-form-label">Supplier</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control <%= (invoiceItem.id === '') ? '' : (invoiceItem.supplier_service !== '' && invoiceItem.id !== '') ? 'is-valid' : 'is-invalid' %>" id="supplierService" disabled value="<%= invoiceItem.supplier_service %>">
                </div>
            </div>
            <div class="form-group row material-form-row">
                <label for="buyer" class="col-sm-12 col-form-label">Buyer</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control <%= (invoiceItem.id === '') ? '' : (invoiceItem.buyer !== '' && invoiceItem.id !== '') ? 'is-valid' : 'is-invalid' %>" id="buyer" disabled value="<%= invoiceItem.buyer %>">
                </div>
            </div>
            <div class="form-group row service-form-row">
                <label for="buyerService" class="col-sm-12 col-form-label">Buyer</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control <%= (invoiceItem.id === '') ? '' : (invoiceItem.buyer_service !== '' && invoiceItem.id !== '') ? 'is-valid' : 'is-invalid' %>" id="buyerService" disabled value="<%= invoiceItem.buyer_service %>">
                </div>
            </div>
            <div class="form-group row material-form-row">
                <label for="debitCredit" class="col-sm-6 col-form-label">Debit/Credit</label>
                <div class="col-sm-6">
                    <select class="form-control <%= (invoiceItem.id === '') ? '' : (invoiceItem.debit_credit !== '' && invoiceItem.id !== '') ? 'is-valid' : 'is-invalid' %>" id="debitCredit" disabled>
                        <option value="Debit">Debit</option>
                        <option value="Credit">Credit</option>
                    </select>
                </div>
            </div>
            <div class="form-group row service-form-row">
                <label for="debitCreditService" class="col-sm-6 col-form-label">Debit/Credit</label>
                <div class="col-sm-6">
                    <select class="form-control <%= (invoiceItem.id === '') ? '' : (invoiceItem.debit_credit_service !== '' && invoiceItem.id !== '') ? 'is-valid' : 'is-invalid' %>" id="debitCreditService" disabled>
                        <option value="Debit">Debit</option>
                        <option value="Credit">Credit</option>
                    </select>
                </div>
            </div>
            <div class="form-group row material-form-row">
                <label for="invoiceNumber" class="col-sm-6 col-form-label">Invoice Number</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control <%= (invoiceItem.id === '') ? '' : (invoiceItem.invoice_number !== '' && invoiceItem.id !== '') ? 'is-valid' : 'is-invalid' %>" id="invoiceNumber" disabled value="<%= invoiceItem.invoice_number %>">
                </div>
            </div>
            <div class="form-group row service-form-row">
                <label for="invoiceNumberService" class="col-sm-6 col-form-label">Invoice Number</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control <%= (invoiceItem.id === '') ? '' : (invoiceItem.invoice_number_service !== '' && invoiceItem.id !== '') ? 'is-valid' : 'is-invalid' %>" id="invoiceNumberService" disabled value="<%= invoiceItem.invoice_number_service %>">
                </div>
            </div>
            <div class="form-group row material-form-row">
                <label for="invoiceDate" class="col-sm-6 col-form-label">Invoice Date</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control <%= (invoiceItem.id === '') ? '' : (invoiceItem.invoice_date !== '' && invoiceItem.id !== '') ? 'is-valid' : 'is-invalid' %>" id="invoiceDate" disabled value="<%= invoiceItem.invoice_date %>">
                </div>
            </div>
            <div class="form-group row service-form-row">
                <label for="invoiceDateService" class="col-sm-6 col-form-label">Invoice Date</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control <%= (invoiceItem.id === '') ? '' : (invoiceItem.invoice_date_service !== '' && invoiceItem.id !== '') ? 'is-valid' : 'is-invalid' %>" id="invoiceDateService" disabled value="<%= invoiceItem.invoice_date_service %>">
                </div>
            </div>
            <div class="form-group row material-form-row">
                <label for="netValue" class="col-sm-6 col-form-label">Net Value</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control <%= (invoiceItem.id === '') ? '' : (invoiceItem.net_value !== '' && invoiceItem.id !== '') ? 'is-valid' : 'is-invalid' %>" id="netValue" disabled value="<%= invoiceItem.net_value %>">
                </div>
            </div>
            <div class="form-group row service-form-row">
                <label for="netValueService" class="col-sm-6 col-form-label">Net Value</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control <%= (invoiceItem.id === '') ? '' : (invoiceItem.net_value_service !== '' && invoiceItem.id !== '') ? 'is-valid' : 'is-invalid' %>" id="netValueService" disabled value="<%= invoiceItem.net_value_service %>">
                </div>
            </div>
            <div class="form-group row material-form-row">
                <label for="gstValue" class="col-sm-6 col-form-label">GST Value</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control <%= (invoiceItem.id === '') ? '' : (invoiceItem.gst_value !== '' && invoiceItem.id !== '') ? 'is-valid' : 'is-invalid' %>" id="gstValue" disabled value="<%= invoiceItem.gst_value %>">
                </div>
            </div>
            <div class="form-group row service-form-row">
                <label for="gstValueService" class="col-sm-6 col-form-label">GST Value</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control <%= (invoiceItem.id === '') ? '' : (invoiceItem.gst_value_service !== '' && invoiceItem.id !== '') ? 'is-valid' : 'is-invalid' %>" id="gstValueService" disabled value="<%= invoiceItem.gst_value_service %>">
                </div>
            </div>
            <div class="form-group row material-form-row">
                <label for="grossValue" class="col-sm-6 col-form-label">Gross Value</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control <%= (invoiceItem.id === '') ? '' : (invoiceItem.gross_value !== '' && invoiceItem.id !== '') ? 'is-valid' : 'is-invalid' %>" id="grossValue" disabled value="<%= invoiceItem.gross_value %>">
                </div>
            </div>
            <div class="form-group row service-form-row">
                <label for="grossValueService" class="col-sm-6 col-form-label">Gross Value</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control <%= (invoiceItem.id === '') ? '' : (invoiceItem.gross_value_service !== '' && invoiceItem.id !== '') ? 'is-valid' : 'is-invalid' %>" id="grossValueService" disabled value="<%= invoiceItem.gross_value_service %>">
                </div>
            </div>
            <div class="form-group row material-form-row">
                <label for="currency" class="col-sm-6 col-form-label">Currency</label>
                <div class="col-sm-6">
                    <select class="form-control <%= (invoiceItem.id === '') ? '' : (invoiceItem.currency !== '' && invoiceItem.id !== '') ? 'is-valid' : 'is-invalid' %>" id="currency" disabled>
                        <option value="INR">INR</option>
                        <option value="EUR">EUR</option>
                    </select>
                </div>
            </div>
            <div class="form-group row service-form-row">
                <label for="currencyService" class="col-sm-6 col-form-label">Currency</label>
                <div class="col-sm-6">
                    <select class="form-control <%= (invoiceItem.id === '') ? '' : (invoiceItem.currency_service !== '' && invoiceItem.id !== '') ? 'is-valid' : 'is-invalid' %>" id="currencyService" disabled>
                        <option value="INR">INR</option>
                        <option value="EUR">EUR</option>
                    </select>
                </div>
            </div>
            <div class="form-group row material-form-row">
                <label for="poOrderNumber" class="col-sm-6 col-form-label">PO Order Number</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="poOrderNumber" disabled value="<%= invoiceItem.po_order_number %>">
                </div>
            </div>
            <div class="form-group row service-form-row">
                <label for="poOrderNumberService" class="col-sm-6 col-form-label">PO Order Number</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="poOrderNumberService" disabled value="<%= invoiceItem.po_order_number_service %>">
                </div>
            </div>
            <div class="form-group row material-form-row">
                <label for="deliveryNote" class="col-sm-6 col-form-label">Delivery Note</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="deliveryNote" disabled value="<%= invoiceItem.delivery_note %>">
                </div>
            </div>
            <div class="form-group row service-form-row">
                <label for="deliveryNoteService" class="col-sm-6 col-form-label">Delivery Note</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="deliveryNoteService" disabled value="<%= invoiceItem.delivery_note_service %>">
                </div>
            </div>
        </form>
    </div>
    
    <div class="panel-group col-md-12 col-sm-12 col-xs-12" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading clearfix d-flex">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <% if(invoiceItem.material_rows_count > 0) { %>
                                <button type="button" class="nav-link" id="material-tab" data-toggle="tab" href="#material" role="tab" aria-controls="material" aria-selected="true">Materials(<%= invoiceItem.material_rows_count %>)</button>
                            <% } else { %>
                                <button type="button" disabled class="nav-link" id="material-tab" data-toggle="tab" href="#material" role="tab" aria-controls="material" aria-selected="true">Materials(<%= invoiceItem.material_rows_count %>)</button>
                            <% } %>
                        </li>
                        <li class="nav-item">
                            <% if(invoiceItem.service_rows_count > 0) { %>
                                <button class="nav-link ml-1" id="service-tab" data-toggle="tab" href="#service" role="tab" aria-controls="service" aria-selected="false">Services(<%= invoiceItem.service_rows_count %>)</button>
                            <% } else { %>
                                <button class="nav-link ml-1" disabled id="service-tab" data-toggle="tab" href="#service" role="tab" aria-controls="service" aria-selected="false">Services(<%= invoiceItem.service_rows_count %>)</button>
                            <% } %>
                        </li>
                    </ul>
                    <div class="ml-auto">
                        <% if (invoiceType === 'Error_Invoices') { %>
                            <!--<button type="button" id="add_line_item_button" class="btn btn-sm btn-primary">Add Line Item</button>-->
                        <% } %>
                        <% if(invoiceItem.material_rows_count > 0 || invoiceItem.service_rows_count > 0) { %>
                            <button id="lineItemsToggle" type="button" data-toggle="collapse" data-parent="#accordion" href="#line-items-container" class="btn btn-sm btn-primary pull-right">Line Item</button>
                        <% } else { %>
                            <button id="lineItemsToggle" disabled type="button" data-toggle="collapse" data-parent="#accordion" href="#line-items-container" class="btn btn-sm btn-primary pull-right">Line Item</button>
                        <% } %>
                    </div>
                </div>
                
                <div id="line-items-container" class="panel-collapse collapse">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="material" role="tabpanel" aria-labelledby="material-tab">
                            <table id="material-tbl" class="table table-bordered">
                                <thead>
                                    <tr id="materialHeaders">
                                        <%- invoiceItem.material_headers %>
                                    </tr>
                                </thead>
                                <tbody id="materialRows">
                                    <%- invoiceItem.material_rows %>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="service" role="tabpanel" aria-labelledby="service-tab">
                            <table id="service-tbl" class="table table-bordered">
                                <thead>
                                    <tr id="serviceHeaders">
                                        <%- invoiceItem.service_headers %>
                                    </tr>
                                </thead>
                                <tbody id="serviceRows">
                                    <%- invoiceItem.service_rows %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>





    <style>
        /*.service-form-row {
            display: none;
        }*/
        p.card-header-title {
            line-height: 2rem;
            margin: 0;
        }
        .card.invoice-process-card {
            padding: 0;
        }
        #formatted_invoice {
            display: none;
        }

        #invoice-header-container {
            padding: 0.5rem 1rem;
        }
        
        #invoice-img-container {
            height: 30rem;
            overflow-y: auto;
        }

        #process-invoice-form {
            height: 33rem;
            overflow-y: auto;
        }

        #process-invoice-form .col-form-label {
            font-size: 1rem;
            font-weight: bold;
        }
        #process-invoice-form .form-control {
            font-size: 1rem;
            font-weight: bold;
        }

        #process-invoice-form .is-valid.form-control, #process-invoice-form .is-valid.form-control:disabled, #process-invoice-form .is-valid.form-control[readonly] {
            background-color: #b9f6ca;
        }

        #process-invoice-form .is-invalid.form-control, #process-invoice-form .is-invalid.form-control:disabled, #process-invoice-form .is-invalid.form-control[readonly] {
            background-color: #ffcdd2;
        }

        .form-group {
            margin-bottom: 0.5rem !important;
        }

        .modal .form-control-plaintext {
            font-size: 1rem;
            font-weight: bold;
            color: #007E33;
        }

        #save_button {
            display: none;
        }

        #accordion, #sap-modal-panel {
            position: fixed;
            bottom: 30px;
            border-radius:none !important;
            
            z-index:1030;
            background-color: #FFF;
            margin-left: -32px;
            /*padding-left:0px;
            padding-right:0px;
            padding: 0.5rem 1rem;*/
            padding: 0;
            bottom: 0;
        }

        .panel-heading {
            background-color: rgba(0,0,0,.03);
            border-bottom: 1px solid rgba(0,0,0,.125);
            padding: 0.5rem;
            padding-bottom: 0;
        }
        .panel-heading ul.nav-tabs {
            border-bottom: 0;
        }

        #process-container .invoice-viewer .row, #process-container .invoice-viewer .row .invoice-process-card {
            height: 100%;
        }
    </style>

<section id="formatted_invoice" class="text-center container">
    <div class="col-12 card mt-2">
        <img src="<%= invoiceType %>/<%= fileName %>" alt="invoice">
    </div>
    <!--<h6 class="mt-5 mb-0">Authorized VW Dealer</h6>
    <h4 class="mt-0 mb-0">Global Gallarie Motors Pvt Ltd</h4>
    <p class="lead mt-0 mb-0">Plot# 1, Mohan Mill Compound</p>
    <p class="lead mt-0 mb-0">Ghodbunder Rd,Opp. Levi's SR, Thane, 400607</p>
    <div class="d-flex justify-content-between">
        <div class="d-block">
            <p class="d-inline"><strong>VAT R.C. No.:</strong></p>
            <p class="d-inline">27180770320V</p>
        </div>
        <div class="d-block">
            <p class="d-inline"><strong>Phone No.</strong></p>
            <p class="d-inline">022 57354444/07735534444</p>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <div class="d-block">
            <p class="d-inline"><strong>C.S.T.R.C No.:</strong></p>
            <p class="d-inline">27180770320C</p>
        </div>
        <div class="d-block">
            <p class="d-inline"><strong>Fax No.</strong></p>
            <p class="d-inline">022 25592395</p>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <div class="d-block">
            <p class="d-inline"><strong>Ser. Tax. No.:</strong></p>
            <p class="d-inline">AADCG7539KSDUD1</p>
        </div>
        <div class="d-block">
            <p class="d-inline"><strong>E-Mail</strong></p>
            <p class="d-inline">service@vw-ggmpl.co.in</p>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <div class="d-block">
            <p class="d-inline"><strong>PAN:</strong></p>
            <p class="d-inline">AADCG7539K</p>
        </div>
    </div>
    <hr>
    
    <h1 class="jumbotr on-heading">Tax Invoice</h1>
    <div class="d-flex justify-content-between">
        <div class="d-block">
            <p class="d-inline"><strong>Repair Order No.</strong></p>
            <p class="d-inline">50104745</p>
        </div>
        <div class="d-block">
            <p class="d-inline"><strong>Invoice No.</strong></p>
            <p class="d-inline">SIP/JUL/0457</p>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <div class="d-block">
            <p class="d-inline"><strong>Repair Order Date</strong></p>
            <p class="d-inline">20-Jul-11</p>
        </div>
        <div class="d-block">
            <p class="d-inline"><strong>Invoice Date</strong></p>
            <p class="d-inline">20-Jul-11</p>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <div class="d-block">
            <p class="d-inline"><strong>Customer Name</strong></p>
            <p class="d-inline"></p>
        </div>
        <div class="d-block">
            <p class="d-inline"><strong>Regn. No.</strong></p>
            <p class="d-inline"></p>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <div class="d-block">
            <p class="d-inline"><strong>Customer Add.</strong></p>
            <p class="d-inline"></p>
        </div>
        <div class="d-block">
            <p class="d-inline"><strong>VIN</strong></p>
            <p class="d-inline"></p>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <div class="d-block">
            <p class="d-inline"><strong>Model</strong></p>
            <p class="d-inline">Vento Trendiine</p>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <div class="d-block">
            <p class="d-inline"><strong>Kms In</strong></p>
            <p class="d-inline">14,900</p>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <div class="d-block">
            <p class="d-inline"><strong>Kms Out</strong></p>
            <p class="d-inline">14,900</p>
        </div>
    </div>        
    
    <h4 class="mt-5">Demanded Repair (Customer Voice)</h4>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>do 15000km service</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>check under carrige noise</td>
            </tr>
        </tbody>
    </table>
    
    <h3 class="mt-5 text-center">Labor Details</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">S. No.</th>
                <th scope="col">Description</th>
                <th scope="col">Labor Code</th>
                <th scope="col">Category</th>
                <th scope="col">Rate</th>
                <th scope="col">Qty.</th>
                <th scope="col"></th>
                <th scope="col">Amount</th>
                <th scope="col">Ser. Tax (10.3%)</th>
                <th scope="col">WCT @ (8.00%)</th>
                <th scope="col">Amount incl. Tax</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>SERVICING CHARGES</td>
                <td>00000030</td>
                <td>Paid</td>
                <td>3.50</td>
                <td class="text-right">150</td>
                <td></td>
                <td class="text-right">525.00</td>
                <td class="text-right">54.08</td>
                <td></td>
                <td class="text-right">579.08</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Washing</td>
                <td>00000002</td>
                <td>Paid</td>
                <td>3.50</td>
                <td class="text-right">186</td>
                <td></td>
                <td class="text-right">651.00</td>
                <td class="text-right">67.05</td>
                <td></td>
                <td class="text-right">718.05</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>VAS Scaning</td>
                <td>00000010</td>
                <td>Paid</td>
                <td>3.50</td>
                <td class="text-right">114</td>
                <td></td>
                <td class="text-right">399.00</td>
                <td class="text-right">41.10</td>
                <td></td>
                <td class="text-right">440.10</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>CONSUMABLE</td>
                <td>00000003</td>
                <td>Paid</td>
                <td>3.50</td>
                <td class="text-right">100</td>
                <td></td>
                <td class="text-right">350.00</td>
                <td class="text-right">36.05</td>
                <td></td>
                <td class="text-right">386.05</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>brake cleaning</td>
                <td>2525</td>
                <td>Paid</td>
                <td>3.50</td>
                <td class="text-right">129</td>
                <td></td>
                <td class="text-right">451.50</td>
                <td class="text-right">46.50</td>
                <td></td>
                <td class="text-right">498.00</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="text-right" colspan="8"><strong>2,376.50</strong></td>
                <td class="text-right"><strong>244.78</strong></td>
                <td class="text-right" colspan="2"><strong>2,621.28</strong></td>
            </tr>
        </tfoot>
    </table>

    <h3 class="mt-5 text-center">Parts Details</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">S. No.</th>
                <th scope="col">Description</th>
                <th scope="col">Part No.</th>
                <th scope="col">Category</th>
                <th scope="col">Rate</th>
                <th scope="col">Qty.</th>
                <th scope="col"></th>
                <th scope="col">Amount</th>
                <th scope="col">Ser. Tax (10.3%)</th>
                <th scope="col">WCT @ (8.00%)</th>
                <th scope="col">Amount incl. Tax</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Oil Filter</td>
                <td>03L115562</td>
                <td>Paid</td>
                <td>1</td>
                <td class="text-right">327.11</td>
                <td></td>
                <td class="text-right">100.00</td>
                <td class="text-right">327.11</td>
                <td class="text-right">12.50></td>
                <td class="text-right">40.89</td>
                <td class="text-right">368.00</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>AIR FILTER</td>
                <td>6R0129620A</td>
                <td>Paid</td>
                <td>1</td>
                <td class="text-right">275.56</td>
                <td></td>
                <td class="text-right">100.00</td>
                <td class="text-right">275.56</td>
                <td class="text-right">12.50></td>
                <td class="text-right">34.45</td>
                <td class="text-right">310.01</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>PLUG WITH</td>
                <td>N 90813202</td>
                <td>Paid</td>
                <td>1</td>
                <td class="text-right">67.36</td>
                <td></td>
                <td class="text-right">100.00</td>
                <td class="text-right">67.36</td>
                <td class="text-right">12.50></td>
                <td class="text-right">8.42</td>
                <td class="text-right">75.78</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>WINDSHIELD CLEANER CO</td>
                <td>G 052164M1</td>
                <td>Paid</td>
                <td>1</td>
                <td class="text-right">226.98</td>
                <td></td>
                <td class="text-right">100.00</td>
                <td class="text-right">226.98</td>
                <td class="text-right">12.50></td>
                <td class="text-right">28.37</td>
                <td class="text-right">255.35</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>CASTROL ENGINE OIL 4LT</td>
                <td>LP-5W40-4</td>
                <td>Paid</td>
                <td>1</td>
                <td class="text-right">3,342.23</td>
                <td></td>
                <td class="text-right">100.00</td>
                <td class="text-right">3,342.23</td>
                <td class="text-right">12.50></td>
                <td class="text-right">417.78</td>
                <td class="text-right">3,760.01</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>CASTROL ENGINE OIL 1LT</td>
                <td>LP-5W40-1</td>
                <td>Paid</td>
                <td>1</td>
                <td class="text-right">862.23</td>
                <td></td>
                <td class="text-right">100.00</td>
                <td class="text-right">862.23</td>
                <td class="text-right">12.50></td>
                <td class="text-right">107.78</td>
                <td class="text-right">970.01</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>DUST AND POLLEN FILTER</td>
                <td>6Q0820367B</td>
                <td>Paid</td>
                <td>1</td>
                <td class="text-right">635.47</td>
                <td></td>
                <td class="text-right">100.00</td>
                <td class="text-right">635.47</td>
                <td class="text-right">12.50></td>
                <td class="text-right">79.43</td>
                <td class="text-right">714.90</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="text-right" colspan="9"><strong>5,736.94</strong></td>
                <td class="text-right" colspan="2"><strong>717.12</strong></td>
                <td class="text-right"><strong>6,454.06</strong></td>
            </tr>
            <tr>
                <td colspan="12">
                    <div class="d-flex justify-content-end">
                        <div class="d-block">
                            <p class="d-inline lead"><strong>Total Parts And Labor</strong></p>
                            <p class="d-inline lead">9.075.00</p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="12">
                    <div class="justify-content-start">
                        <div class="d-block">
                            <p class="d-inline lead"><strong>Rupees:</strong></p>
                            <p class="d-inline lead">NINE THOUSAND SEVENTY FIVE RUPEES AND ZERO PAISA ONLY</p>
                        </div>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
    <% if (invoiceType !== 'processed') { %>
        <button type="button" id="process_button" class="btn btn-primary float-right">Process</button>
    <% } %>-->
</section>

