<div class="row mt-5 dashboard-header">
  <h2 class="col-8">Post Processing Dashboard</h2>
  <div class="d-flex justify-content-end col-4">
    <p><span class="badge badge-success text-right mr-1">Processed</span></p>
    <p><span class="badge badge-danger text-right">Error</span></p>
  </div>
</div>

<div class="table-responsive">
  <table id="dashboard-table" class="table table-hover">
    <thead>  
      <tr>
        <th class="text-center">Unique Number</th>
        <th class="text-center">Workflow</th>
        <th class="text-center">File</th>
        <th class="text-center">Invoice No.</th>
        <th class="text-center">Vendor</th>
        <th class="text-center">Debit/Credit</th>
        <th class="text-center">SAP PO Number</th>
        <th class="text-center">Status</th>
      </tr>
    </thead>
    <tbody>
        <% invoices.forEach(function(invoice, i) { %>
            <tr data-toggle="modal" data-id="<%= invoice.id %>" data-file="<%= invoice.file %>" data-invoicetype="<%= invoice.invoiceType %>" data-target="#orderModal" class="table-<%= invoice.type %> clickable">
            <td class="text-center"><%= invoice.unique_number %></td>
            <td class="text-center">
                <% if(!invoice.is_error) { %>  
                    <i class="fa fa-envelope fa-1x"></i>
                <% } %> 
            </td>
            <td class="text-center"><%= invoice.file %></td>
            <td class="text-center"><%= invoice.invoice_number %></td>
            <td class="text-center"><%= invoice.supplier %></td>
            <td class="text-center"><%= invoice.debit_credit %></td>
            <td class="text-center"><%= invoice.sap_po_number %></td>
            <td class="text-center"><%= (invoice.is_error) ? 'Error' : 'Posted in SAP' %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="invoiceDataModal" tabindex="-1" role="dialog" aria-labelledby="invoiceDataModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="invoiceDataModalLabel">Invoice Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    
                    <div class="form-group row">
                        <label for="file" class="col-sm-6 col-form-label">File</label>
                        <div class="col-sm-6">
                            <!--<input type="text" readonly class="form-control-plaintext" id="file" value="">-->
                            <a id="file" href="#"></a>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="buyer" class="col-sm-6 col-form-label">Buyer</label>
                        <div class="col-sm-6">
                            <input type="text" readonly class="form-control-plaintext" id="buyer" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="supplier" class="col-sm-6 col-form-label">Supplier</label>
                        <div class="col-sm-6">
                            <input type="text" readonly class="form-control-plaintext" id="supplier" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="debitCredit" class="col-sm-6 col-form-label">Debit / Credit</label>
                        <div class="col-sm-6">
                            <input type="text" readonly class="form-control-plaintext" id="debitCredit" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="invoiceNumber" class="col-sm-6 col-form-label">Invoice Number</label>
                        <div class="col-sm-6">
                            <input type="text" readonly class="form-control-plaintext" id="invoiceNumber" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="invoiceDate" class="col-sm-6 col-form-label">Invoice Date</label>
                        <div class="col-sm-6">
                            <input type="text" readonly class="form-control-plaintext" id="invoiceDate" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="netValue" class="col-sm-6 col-form-label">Net Value</label>
                        <div class="col-sm-6">
                            <input type="text" readonly class="form-control-plaintext" id="netValue" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="gstValue" class="col-sm-6 col-form-label">GST Value</label>
                        <div class="col-sm-6">
                            <input type="text" readonly class="form-control-plaintext" id="gstValue" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="grossValue" class="col-sm-6 col-form-label">Gross Value</label>
                        <div class="col-sm-6">
                            <input type="text" readonly class="form-control-plaintext" id="grossValue" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="currency" class="col-sm-6 col-form-label">Currency</label>
                        <div class="col-sm-6">
                            <input type="text" readonly class="form-control-plaintext" id="currency" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="poOrderNumber" class="col-sm-6 col-form-label">PO Order Number</label>
                        <div class="col-sm-6">
                            <input type="text" readonly class="form-control-plaintext" id="poOrderNumber" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="deliveryNote" class="col-sm-6 col-form-label">Delivery Note</label>
                        <div class="col-sm-6">
                            <input type="text" readonly class="form-control-plaintext" id="deliveryNote" value="">
                        </div>
                    </div>
                    
                    
                    
                    <div class="form-group row">
                        <label for="financeMaterial" class="col-sm-6 col-form-label">Finance / Material</label>
                        <div class="col-sm-6">
                            <input type="text" readonly class="form-control-plaintext" id="financeMaterial" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="sapPoNumber" class="col-sm-6 col-form-label">SAP PO Number</label>
                        <div class="col-sm-6">
                            <input type="text" readonly class="form-control-plaintext" id="sapPoNumber" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="vendorCode" class="col-sm-6 col-form-label">Vendor Code</label>
                        <div class="col-sm-6">
                            <input type="text" readonly class="form-control-plaintext" id="vendorCode" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="discount" class="col-sm-6 col-form-label">Discount</label>
                        <div class="col-sm-6">
                            <input type="text" readonly class="form-control-plaintext" id="discount" value="">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<style>
  tr.clickable {
    cursor: pointer
  }
</style>
